d19/flows.json
[
  {
    "id": "inject-1",
    "type": "inject",
    "z": "flow-1",
    "name": "每秒触发",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 80,
    "wires": [["function-1"]]
  },
  {
    "id": "function-1",
    "type": "function",
    "z": "flow-1",
    "name": "生成随机温度",
    "func": "const minTemp = -10;\nconst maxTemp = 40;\nconst temperature = Math.random() * (maxTemp - minTemp) + minTemp;\nmsg.payload = {\n  celsius: Math.round(temperature * 100) / 100,\n  timestamp: new Date().toISOString()\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["function-2", "function-3", "function-4"]]
  },
  {
    "id": "function-2",
    "type": "function",
    "z": "flow-1",
    "name": "摄氏度转华氏度",
    "func": "const celsius = msg.payload.celsius;\nconst fahrenheit = (celsius * 9 / 5) + 32;\nmsg.payload.fahrenheit = Math.round(fahrenheit * 100) / 100;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 60,
    "wires": [["mqtt-1", "function-5"]]
  },
  {
    "id": "function-3",
    "type": "function",
    "z": "flow-1",
    "name": "高温告警检测",
    "func": "const threshold = 30;\nconst celsius = msg.payload.celsius;\nif (celsius > threshold) {\n  return [null, {\n    payload: {\n      alarm: \"高温告警\",\n      temperature: celsius,\n      timestamp: msg.payload.timestamp\n    }\n  }];\n} else {\n  return [msg, null];\n}",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 120,
    "wires": [[], ["http-1"]]
  },
  {
    "id": "function-4",
    "type": "function",
    "z": "flow-1",
    "name": "准备图表数据",
    "func": "msg.payload = msg.payload.celsius;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 180,
    "wires": [["chart-1"]]
  },
  {
    "id": "function-5",
    "type": "function",
    "z": "flow-1",
    "name": "准备数据库插入",
    "func": "msg.topic = \"INSERT INTO temperature_data (timestamp, celsius, fahrenheit) VALUES (?, ?, ?)\";\nmsg.payload = [\n  msg.payload.timestamp,\n  msg.payload.celsius,\n  msg.payload.fahrenheit\n];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "// 创建表（如果不存在）\nconst createTable = \"CREATE TABLE IF NOT EXISTS temperature_data (id INTEGER PRIMARY KEY AUTOINCREMENT, timestamp TEXT, celsius REAL, fahrenheit REAL)\";\nnode.send({ topic: createTable });",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 180,
    "wires": [["sqlite-1"]]
  },
  {
    "id": "chart-1",
    "type": "ui_chart",
    "z": "flow-1",
    "name": "温度图表",
    "group": "group-1",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "温度变化曲线",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "-10",
    "ymax": "40",
    "removeOlder": "5",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "x": 540,
    "y": 180,
    "wires": [[], []]
  },
  {
    "id": "mqtt-1",
    "type": "mqtt out",
    "z": "flow-1",
    "name": "发布到 MQTT",
    "topic": "sensors/temperature",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker-1",
    "x": 780,
    "y": 60,
    "wires": []
  },
  {
    "id": "http-1",
    "type": "http request",
    "z": "flow-1",
    "name": "发送告警",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://alarm-server:3000/alarm",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 780,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "sqlite-1",
    "type": "sqlite",
    "z": "flow-1",
    "mydb": "sqlite-config-1",
    "name": "写入 SQLite",
    "sql": "",
    "x": 980,
    "y": 180,
    "wires": []
  },
  {
    "id": "broker-1",
    "type": "mqtt-broker",
    "name": "Mosquitto MQTT",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "sqlite-config-1",
    "type": "sqliteConfig",
    "name": "温度数据库",
    "dbname": "/data/temperature.db"
  },
  {
    "id": "group-1",
    "type": "ui_group",
    "name": "温度监控",
    "tab": "tab-1",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "tab-1",
    "type": "ui_tab",
    "name": "IoT 仪表板",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
